.row{
    display: flex;
    justify-content: center;
}
.main{
    width: 50%;
    padding-bottom: 4em;
    box-shadow: 10px, 2px, 4px, 10px rgb(51, 34, 34);
}

.card-title {
    margin: 10px;
    padding: 20px;
    color:#0d6efd;
    
}

.addTask{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-action{
    text-decoration: line-through;
    color: black;
    opacity: 0.5;
}
.positions{
    display: flex;
    justify-content: baseline;
    align-items:center;
    text-align: center;
}

.list-group{
    transition: 0.3s;
    border-radius: 20px;
}
.list-group-item{
    transition: 0.3s;
}
.list-group-item:hover{
    background-color: #0d6efd;
    transform: scale(1.05);
    box-shadow: 1px 10px 10px 10px rgb(150, 145, 145, 0.7);
    z-index: 10;
    color: white;
    border-radius: 20px;
}
.bi:hover{
    transform: scale(1.1);
}
.delete{
    transition: .1s;
}
.delete:hover{
    transform: scale(1.4);
}

.list-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
}